body{
  font-family: sans-serif;
  background: radial-gradient(circle,#0b1a3a,#000814);
  color:white;
  text-align:center;
}

h1{margin-top:10px;}

.controls input{
  padding:10px;
  margin:5px;
  border-radius:8px;
  border:none;
}

.tests{
  margin-top:20px;
}

.test{
  margin:10px;
}

button{
  padding:10px 20px;
  border:none;
  border-radius:10px;
  cursor:pointer;
  background:#1f3b6d;
  color:white;
  margin:5px;
}

button:hover{
  background:#2e5aa8;
}

.modal{
  position:fixed;
  inset:0;
  background:rgba(0,0,0,.7);
  display:flex;
  justify-content:center;
  align-items:center;
}

.hidden{display:none;}

.modalBox{
  background:#0f1f44;
  padding:25px;
  border-radius:15px;
  width:300px;
}

/* أنيميشن سينمائي */
.cinematic{
  animation: zoomFade .5s ease;
}

@keyframes zoomFade{
  from{transform:scale(.5) rotateX(40deg); opacity:0;}
  to{transform:scale(1); opacity:1;}
}

#intro{
  position:fixed;
  inset:0;
  background:black;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:30px;
  animation:introFade 2s forwards;
}

@keyframes introFade{
  to{opacity:0; visibility:hidden;}
}
